@use '@styles/colors.scss';

.wrapper {
  width: 100%;

  .header {
    margin-bottom: 3rem;
    text-align: center;

    .subtitle {
      font: {
        weight: normal;
        size: 1.3rem;
      }
      color: colors.$secondary-color;
    }

    .title {
      font: {
        weight: normal;
        size: 3rem;
      }
    }
  }
  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
  }

  .pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
  }
}
